.source.txt
bin/
obj/
kickass/
.vscode/
.idea/
nohup.out
log.txt
C64-65XE-NES-Debugger/
disassembly\ of\ hunters\ moon/
dissembly\ of\ psychadelia/
Micro\ 6502\ Journal\ -\ complete/
transwarp/

!bin/*.prg
